body {
  font-family: "Roboto";

  color: $white;
  background-color: $background;

  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $tablet) {
    padding-left: 32px;
    padding-right: 32px;
  }

} 

p,
h1,
h2,
h3,
h4 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-none {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $pre-tablet) {
    max-width: 320px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: $desktop) {
    width: 1220px;
  }
}

.section {
  padding: 40px 0;

  @media screen and (min-width: $tablet) {
    padding: 60px 0;
  }
}
