body {
  font-family: 'Roboto';

  color: $white;
  background-color: $background;

  position: relative;
  // background-image: linear-gradient(90deg, rgba(17,17,17,100%),rgba(0,0,0, 100%),rgba(0,0,0, 100%),rgba(0,0,0, 100%),rgba(0,0,0, 100%),rgba(0,0,0, 100%),rgba(17, 17, 17, 100%));
}

p,
h1,
h2,
h3,
h4 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body.modal-open {
  overflow: hidden;
}

.list-none {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $pre-tablet) {
    max-width: 320px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding: 0 32px;
  }
}

.section {
  padding: 40px 0;

  @media screen and (min-width: $tablet) {
    padding: 60px 0;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// ==== BUTTON ====
.linear_btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  padding: 12px 24px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 750ms linear(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.linear_btn:hover,
.linear_.btn:focus {
  // border-width: 1px;
  // border-style:  solid;
  // border-radius: 74px;
  // border-image: linear-gradient(45deg, #FFC226, #F84119) 1;
  color: $white;
  background: transparent;
  border-top: 1px solid #ffc226;
  border-left: 1px solid #ffc226;
  border-right: 1px solid $orange;
  border-bottom: 1px solid $orange;
}

// ==== Теиа DARK/LIGHT ====
.light_color {
  background-color: $white;
  color: $background;
}
.light_color:hover,
.light_color:focus {
  color: $background;
}

.light_fill {
  fill: $background;
}
.light_shadow {
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);
}

.light-theme {
  background-color: $white;
}

.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
  z-index: 10;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    padding: 94px 15px;
    overflow-y: scroll;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    overflow-y: scroll;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.light-theme .backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 10;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    padding: 94px 15px;
    overflow-y: scroll;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    overflow-y: scroll;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
