//? COLORS
$linear: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
$secondary-linear: linear-gradient(141.22deg, #F84119 9.4%, rgba(248, 159, 25, 0.68) 91.91%);
$grey-linear: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
$orange: #F87719;
$grey: #B7B7B7;
$white: #FFFFFF;
$background: #111111;
$secondary-text: #F8F8F8;
$secondary-black: #282828;
$grey-white-theme: #595959;

//? BREACK-POINTS
$mobile: 320px;
$pre-tablet: 767px;
$tablet: 768px;
$pre-desktop: 1279px;
$desktop: 1280px;