<footer class="footer">
  <div class="container">
    <div class="footer-flex flex">
      <p class="footer-info footer-text">
        &copy; 2023 | All Rights Reserved |
        <span class="footer-mobile"
          >Developed with
          <svg class="footer__icon" width="14" height="13">
            <use href="./images/icons.svg#icon-footer-heart"></use>
          </svg>
          by
          <a href="#" class="footer__link" id="goit-students-link"
            >GoIT Students</a
          ></span
        >
      </p>
    </div>
  </div>
  <div id="footer__modal" class="footer__modal">
    <div class="modal-content">
      <ul class="modal-list">
        <li>
          <a
            href="https://www.linkedin.com/in/vladyslav-hrynevych-63ba1a275"
            target="_blank"
            ><svg class="footer-modal__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use></svg
          ></a>
          <a href="https://github.com/LightPride" target="_blank"
            >Vladyslav Hrynevych
            <span class="team-position">(team lead, developer)</span></a
          >
        </li>
        <li>
          <a href="#" target="_blank"
            ><svg class="footer-modal__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use></svg
          ></a>
          <a href="https://github.com/Andy-DoUrden" target="_blank"
            >Andriy Kovalchuk
            <span class="team-position"
              >(team lead assistant, developer)</span
            ></a
          >
        </li>
        <li>
          <a href="#" target="_blank"
            ><svg class="footer-modal__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use></svg
          ></a>
          <a href="https://github.com/yuliasiromakha" target="_blank"
            >Yulia Siromakha
            <span class="team-position">(scrum master, developer)</span></a
          >
        </li>
        <li>
          <a href="#" target="_blank"
            ><svg class="footer-modal__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use></svg
          ></a>
          <a href="https://github.com/Alex-Kuzmenko1965" target="_blank"
            >Oleksandr Kuzmenko
            <span class="team-position">(developer)</span></a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/mykhaylo-yaremkevych-6585b91b4/"
            target="_blank"
            ><svg class="footer-modal__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use></svg
          ></a>
          <a href="https://github.com/Mykhaylo33" target="_blank"
            >Mykhailo Yaremkevych
            <span class="team-position">(developer)</span></a
          >
        </li>
        <li>
          <a href="#" target="_blank"
            ><svg class="footer-modal__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use></svg
          ></a>
          <a href="https://github.com/IYuliia" target="_blank"
            >Yuliia Ihosheva <span class="team-position">(developer)</span></a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/marianna-demchenko-420672226"
            target="_blank"
            ><svg class="footer-modal__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use></svg
          ></a>
          <a href="https://github.com/Manja2012" target="_blank"
            >Marianna Demchenko
            <span class="team-position">(developer)</span></a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/vitalii-sydorenko-11b20aa8"
            target="_blank"
            ><svg class="footer-modal__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use></svg
          ></a>
          <a href="https://github.com/V1talquaaa" target="_blank"
            >Vitaly Sydorenko <span class="team-position">(developer)</span></a
          >
        </li>
        <li>
          <a href="#" target="_blank"
            ><svg class="footer-modal__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use></svg
          ></a>
          <a href="https://github.com/agievicdaria" target="_blank"
            >Daria Agievich <span class="team-position">(developer)</span></a
          >
        </li>
        <li>
          <a href="#" target="_blank"
            ><svg class="footer-modal__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use></svg
          ></a>
          <a href="https://github.com/SlavikUA1996" target="_blank"
            >Yaroslav Korin <span class="team-position">(developer)</span></a
          >
        </li>
        <li>
          <a href="#" target="_blank"
            ><svg class="footer-modal__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use></svg
          ></a>
          <a href="https://github.com/SkliarovaAnastasiia" target="_blank"
            >Anastasia Sklyarova
            <span class="team-position">(developer)</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
