<footer class="footer">
  <div class="container">
    <div class="footer-flex flex">
      <p class="footer-info">
        &copy; 2023 | All right reserved |
        <span class="footer-mobile"
          >Developed with
          <svg class="footer__icon" width="14" height="13">
            <use href="./images/icons.svg#icon-footer-heart"></use>
          </svg>
          by
          <a href="#" class="footer__link" id="goit-students-link"
            >GoIT Students</a
          ></span
        >
      </p>
    </div>
  </div>
  <div id="footer__modal" class="footer__modal">
    <div class="modal-content">
      <ul class="modal-list">
        <li>
          <a href="https://github.com/LightPride/Cinemania" target="_blank"
            >Student 1</a
          >
        </li>
        <li><a href="#" target="_blank">Student 2</a></li>
        <li><a href="#" target="_blank">Student 3</a></li>
        <li><a href="#" target="_blank">Student 4</a></li>
        <li><a href="#" target="_blank">Student 5</a></li>
        <li><a href="#" target="_blank">Student 6</a></li>
        <li><a href="#" target="_blank">Student 7</a></li>
        <li><a href="#" target="_blank">Student 8</a></li>
        <li><a href="#" target="_blank">Student 9</a></li>
        <li><a href="#" target="_blank">Student 10</a></li>
        <li><a href="#" target="_blank">Student 11</a></li>
      </ul>
    </div>
  </div>
</footer>
