
  <!-- todo: пишіть ваш код тут :) -->
  <section class="hero section">
    <div class="container">
      <h2 class="hero-title">Let’s Make Your Own Cinema</h2>
      <p class="hero-text big-text">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers. Decorate your space, choose your
        films, and stock up on snacks for the full experience.
      </p>
      <p class="hero-text small-text">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers.
      </p>
      <button type="button" class="hero-btn">Get Started</button>
    </div>
  </section>

