<div class="hero-background">
  <section class="container hero hero_with-film section">
    <div class="hero-film_background"></div>
    <div class="hero-film_background-2"></div>
    <div class="hero-container">
      <div class="hero-film_box">
        <h2 class="hero-title">Let’s Make Your Own Cinema</h2>
        <p class="hero-text big-text">
          Is a guide to creating a personalized movie theater experience. You'll
          need a projector, screen, and speakers. Decorate your space, choose
          your films, and stock up on snacks for the full experience.
        </p>
        <p class="hero-text small-text">
          Is a guide to creating a personalized movie theater experience. You'll
          need a projector, screen, and speakers.
        </p>
        <a class="linear_btn link hero-btn" href="./catalog.html"
          >Get Started</a
        >
      </div>
    </div>
    <button class="hero-film_btn linear_btn" data-modal-open>
      Watch trailer
    </button>
  </section>
</div>
