<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YourTravel</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="modal-without-trailer">
      <button type="button" class="modal__close-btn"></button>
      <div class="modal__text-container"> 
        <p class="modal__title">
          OOPS...</br> We are very sorry!</br> But we couldn't find the trailer.
        </p>
      </div>
      <picture>
        <source  srcset="../images/trailer-modal_images/trailer-modal-desktop.png 1x, ../images/trailer-modal_images/trailer-modal-desktop_2x.png 2x" media="(min-width:1200px)">
        <source  srcset="../images/trailer-modal_images/trailer-modal-tablet.png 1x, ../images/trailer-modal_images/trailer-modal-tablet_2x.png 2x" media="(min-width:768px)">
      <img
      srcset="../images/trailer-modal_images/trailer-modal.png 1x, ../images/trailer-modal_images/trailer-modal_2x.png 2x"
        src="../images/trailer-modal_images/trailer-modal.png"
        alt="Кіно"
        class="modal__image"
      />
      </picture>
    </div>
  </body>
</html>
