<button class="btn" id="toggle">
  <svg width="15" height="15" class="switch_dark">
    <use href="./images/modal-popup/icons.svg#icon-moon"></use>
  </svg>
  <svg width="15" height="15" class="switch_light">
    <use href="./images/modal-popup/icons.svg#icon-sun"></use>
  </svg>
</button>
<!-- Підклвдкаа під модальне вікно -->    
<div class ="overlay" id="overlayPopUp"></div>
<!--PopUp modal-->
<div class ="pop-up__modal" id="modalPopUp">
  <button class="pop-up__modal-close" id="closeModalPopUp">
    <svg width="18" height="18" class="pop-up__close-icon">
      <use href="./images/modal-popup/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="pop-up__container"> 
    <img src="./images/modal-popup/img-pop-up.png" alt="image.png" class="pop-up__img">
    <div class="pop-card">
      <h2 class="pop-up__title"></h2>
      <div class="pop-up__blok">
        <ul class="pop-up__list list">
          <li class="pop-up__link link">Vote / Votes</li>
          <li class="pop-up__link link">Popularity</li>          
          <li class="pop-up__link link">Genre</li>
          <li class="pop-up__link link">ABOUT</li>
        </ul>
        <ul class="pop-up__list list">
          <li class="pop-up__link-item link item-votes">
          <div class="vote"></div>&nbsp;/&nbsp;<div class="votes"></div></li>
          <li class="pop-up__link-item link popularity"></li>          
          <li class="pop-up__link-item link genres"></li>
        </ul>            
      </div>                      
      <p class="pop-up__about-txt"></p>          
      <button class="btn" id="mylibrary">Add to my library</button>
    </div>          
  </div>
</div>
<button class="btn" id="openModalPopUp">Open modal</button>