.catalog__form {
  display: flex;
  margin: 0 auto;
  width: 280px;
  min-height: 40px;

  @media screen and (min-width: $tablet) {
    width: 264px;
    min-height: 44px;
  }

  @media screen and (min-width: $desktop) {
    width: 398px;
    min-height: 48px;
  }
}

.catalog__form-input {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: inherit;

  margin-right: 16px;
  padding: 10px 142px 10px 20px;
  gap: 10px;
  width: 224px;
  height: 40px;

  border: 1px solid $white;
  border-radius: 8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);

  text-align: center;
  color: $white;

  outline: none;
  transition: 250ms;
  transition-delay: 50ms;

  &::placeholder {
    color: $grey;
  }

  &:hover,
  &:focus,
  &:not(:placeholder-shown) {
    justify-content: center;
    padding: 10px 20px 10px 20px;
    border: 1px solid $white;
  }

  @media screen and (min-width: $tablet) {
    padding: 12px 138px 12px 20px;
    width: 204px;
    height: 44px;

    &:hover,
    &:focus,
    &:not(:placeholder-shown) {
      padding: 12px 20px 12px 20px;
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 12px 260px 12px 24px;
    width: 334px;
    height: 48px;

    font-size: 16px;
    line-height: calc(19 / 16);

    &:hover,
    &:focus,
    &:not(:placeholder-shown) {
      padding: 12px 24px 12px 24px;
    }
  }
}

.catalog__form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  outline: none;
  background-image: $linear;
  cursor: pointer;
  transition: 300ms;
  @media screen and (min-width: $tablet) {
    width: 44px;
    height: 44px;
  }

  @media screen and (min-width: $desktop) {
    width: 48px;
    height: 48px;
  }

  &:hover,
  &:focus {
    color: $white;
    background: transparent;
    border-top: 1px solid #ffc226;
    border-left: 1px solid #ffc226;
    border-right: 1px solid $orange;
    border-bottom: 1px solid $orange;
  }
}

.search-svg {
  fill: $white;
}

.catalog__gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;

  margin-top: 16px;

  max-width: 280px;

  @media screen and (min-width: $tablet) {
    row-gap: 28px;
    column-gap: 15px;

    margin-top: 36px;

    max-width: 704px;
  }

  @media screen and (min-width: $desktop) {
    row-gap: 32px;

    margin-top: 48px;

    max-width: 1215px;
  }
}

//? КАРТКИ

.movie__card {
  position: relative;
  width: 280px;
  height: 406px;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;

  @media screen and (min-width: $tablet) {
    width: 224px;
    height: 325px;
  }

  @media screen and (min-width: $desktop) {
    width: 395px;
    height: 574px;
  }
}

.movie__card:hover,
.movie__card:focus {
  box-shadow: 0 2px 5px 5px $grey;
}

.movie__card-poster {
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.movie__card-info {
  position: absolute;
  bottom: 20;
  left: 20;
  z-index: 1;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(20 / 12);

  color: $white;

  @media screen and (min-width: $tablet) {
    line-height: calc(18 / 12);
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: calc(23 / 20);
  }
}

.movie__card-info h3 {
  text-transform: uppercase;
}

.movie__card-info p {
  color: $grey;
}

.movie__card-rating {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 86px;
  height: 14px;
  position: absolute;
  bottom: 20;
  right: 20;
  // background-color: #fff;
  z-index: 1;
  color: #000;

  @media screen and (min-width: $tablet) {
    width: 66px;
    height: 10px;
  }

  @media screen and (min-width: $desktop) {
    width: 106px;
    height: 18px;
  }
}
