.footer {
  padding-bottom: 28px;
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
    padding-top: 33px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 80px;
    padding-top: 60px;
  }
}

.footer__link {
  color: white;
}

.footer-flex {
  display: flex;
  justify-content: center;
}

.footer-info {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.footer__modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: $grey;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid $orange;
  width: 60%;
  border-radius: 4px;
}

.modal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.modal-list li {
  margin-bottom: 10px;
}

.modal-list a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.modal-list a:hover {
  color: #000;
}
