.footer {
  padding-bottom: 28px;
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
    padding-top: 33px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 80px;
    padding-top: 60px;
  }
}

.footer__link {
  color: $grey;
}

.footer-flex {
  display: flex;
  justify-content: center;
}

.footer-text {
  @media screen and (min-width: 767px) {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17px;
    color: $grey;
  }
}

.footer-info {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $grey;
  }
}

.footer__modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer-modal__icon {
  fill: $orange;
}

.modal-content {
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;
  background: $background;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
}

.modal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal-list li {
  margin-bottom: 10px;
}

.modal-list a {
  color: $white;
  text-decoration: none;
  font-size: 16px;
}

.modal-list a:hover {
  color: $grey-white-theme;
}

.team-position {
  color: $grey;
}
