.header {
  background-color: $background;
  transition: 300ms;
}

.light-theme .header {
  background-color: $white;
}

.light-theme span.logo-text {
  color: $secondary-black;
}

.light-theme a.navigation__link {
  color: $grey-white-theme;
}
.light-theme a.navigation__link.current {
  color: #f87719;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo__icon {
  display: block;
  width: 32px;
  height: 32px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 48px;
  }
}

span.logo-text {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    margin-left: 8px;
  }
}

// ------ NAVIGATION ------

.navigation__link.current {
  color: #f87719;
}

.navigation__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    & .item-1 {
      margin-right: 32px;
    }
    & .item-2 {
      margin-right: 32px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;

    & .item-1 {
      margin-right: 40px;
    }
    & .item-2 {
      margin-right: 40px;
    }
  }
}
.navigation__link {
  position: relative;
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #b7b7b7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #f87719;
  }
}

// ------ MOBILE MENU MODAL --------

.menu-toggle {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    color: $orange;
  }
}

.menu-text {
  color: $grey;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.menu-container {
  @media screen and (min-width: $tablet) {
    display: none;
  }
  background-color: $background;
  @media screen and (max-width: $pre-tablet) {
    position: fixed;
    z-index: 15;
    border-radius: 0px 8px 8px 0px;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100vh;
    padding: 8px 20px;
    overflow-x: scroll;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;

    &.is-open {
      transform: translateX(0);
    }
  }
}

.mobile-logo__icon {
  margin-bottom: 40px;
}

.mobile-header__list {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-header__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-header__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #f87719;
  }
}

.mobile-header__link--current {
  color: #f87719;
}

// ----- COLOR MODE BUTTON ------

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-radius: 74px;
}

.mode__icon {
  display: block;
  fill: $orange;
}

.light-mode__icon {
  display: none;
}

.toggleButton {
  border: none;
  position: relative;
  background-color: transparent;
  cursor: pointer;
}

.expansion-div {
  @media screen and (max-width: $pre-tablet) {
  }

  @media screen and (min-width: $tablet) {
    padding-left: 90px;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 110px;
  }
}

.backdrop-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
  z-index: 9;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1);

  &.block {
    display: block;
  }
}

.mobile-header__link.current {
  color: $orange;
}
