// TODO: general styles
.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  @media screen and (max-width: $pre-tablet) {
    // background-position: 85px top, calc(384px / 2) 0;
    min-height: 500px;
  }
  // * tablet screen
  @media screen and (min-width: $tablet) {
    // background-position: 85px top, calc(384px / 2) 0;

    background-position: 192px;
    padding-top: 36px;
    min-height: 372px;
  }

  // * desktop screen
  @media screen and (min-width: $desktop) {
    // background-position: 50px top, calc(640px / 2) -65px;
    background-position: 320px;

    height: 660px;
    padding-top: 118px;
  }
}

// TODO: styles for default markup
.hero-default {
  // * mobile screen
  background-image: linear-gradient(
      87.8deg,
      #0e0e0e 15.61%,
      rgba(14, 14, 14, 0) 60.39%
    ),
    url('../images/hero/bg_sm@1x.png');

  @media screen and (max-width: $pre-tablet) {
    // * mobile retina screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          87.8deg,
          #0e0e0e 15.61%,
          rgba(14, 14, 14, 0) 60.39%
        ),
        url('../images/hero/bg_sm@2x.png');
    }
  }

  // * tablet screen
  @media screen and (min-width: $tablet) {
    background-image: url('../images/hero/bg_md@1x.png');

    // * tablet retina screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/bg_md@2x.png');
    }
  }

  // * desktop screen
  @media screen and (min-width: $desktop) {
    background-image: url('../images/hero/bg_lg@1x.png');

    // * desktop retina screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/bg_lg@2x.png');
    }
  }
}

.hero-title {
  margin-bottom: 8px;
  max-width: 199px;

  color: $white;
  font-weight: 700;
  font-size: 32px;
  line-height: calc(38 / 32);

  @media (min-width: $tablet) {
    max-width: 322px;

    font-size: 44px;
    line-height: calc(52 / 44);
  }

  @media (min-width: $desktop) {
    max-width: 464px;

    font-size: 64px;
    line-height: 75px;
  }
}

.hero-text.big-text {
  color: $secondary-text;

  @media (max-width: $pre-tablet) {
    display: none;
  }

  @media (min-width: $tablet) {
    margin-bottom: 32px;
    max-width: 357px;

    font-size: 14px;
    line-height: calc(16 / 14);
  }

  @media (min-width: $desktop) {
    max-width: 464px;

    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.hero-text.small-text {
  max-width: 166px;
  margin-bottom: 16px;

  font-size: 14px;
  line-height: calc(16 / 14);
  color: $secondary-text;

  @media (min-width: $tablet) {
    display: none;
  }
}

// TODO: styles if a movie comes from the backend
.hero_with-film {
  background-position: center;

  @media screen and (min-width: $tablet) {
    background-position-x: 150px;
  }

  @media screen and (min-width: $desktop) {
    background-position-x: 250px;
    background-position-y: -65px;
  }
}

.hero-film_title {
  margin-bottom: 13px;
  max-width: 199px;

  font-weight: 700;
  font-size: 32px;
  line-height: calc(38 / 32);
  color: $white;

  @media screen and (min-width: $tablet) {
    max-width: 265px;

    font-size: 44px;
    line-height: calc(52 / 44);
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 17px;
    max-width: 464px;

    font-size: 64px;
    line-height: calc(75 / 64);
  }
}

.hero-film_rating {
  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    margin-top: 30px;
  }
}

.hero-film_descr {
  margin-bottom: 16px;
  max-width: 177px;

  font-size: 14px;
  line-height: calc(16 / 14);
  color: $secondary-text;

  @media screen and (min-width: $tablet) {
    margin-bottom: 28px;
    max-width: 350px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 464px;

    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.hero-film_background {
  @media screen and (max-width: $pre-tablet) {
    z-index: 0;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3;
    left: 3;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: $tablet) {
    z-index: 0;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 98%;
    top: 1;
    left: 210px;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: $desktop) {
    left: 300px;
  }
}

.hero-film_background-2 {
  @media screen and (max-width: $pre-tablet) {
    background-image: linear-gradient(
      87.8deg,
      #0e0e0e 15.61%,
      rgba(14, 14, 14, 0) 60.39%
    );
    z-index: 0;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: $tablet) {
    background-image: url('../images/hero/black-bg_md.png');
    z-index: 1;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50px;
    background-repeat: no-repeat;
  }
}

.hero-film_background-2--light {
  @media screen and (min-width: $tablet) {
    background-image: url('../images/hero/black-bg_md.png');
    z-index: 1;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50px;
    background-repeat: no-repeat;
  }
}

.hero-film_box {
  position: relative;
  z-index: 2;
  padding-left: 20px;

  @media screen and (min-width: $tablet) {
    padding-left: 32px;
  }
}

.hero-background {
  width: auto;
  background-color: #0e0e0e;
}

.hero-film_btn {
  position: absolute;
  z-index: 9;
  left: 20px;
  @media screen and (min-width: $tablet) {
    left: 30px;
  }
  &.hidden {
    display: none;
  }
}

.hero-btn {
  color: black;
}
