// TODO: general styles
.hero {
  margin-top: -1px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 380px;

  // * tablet screen
  @media screen and (min-width: $tablet) {
    background-position: 85px top, calc(384px / 2) 0;

    // background-image: url('../images/hero/black-bg_md.png');

    min-height: 372px;
  }

  // * desktop screen
  @media screen and (min-width: $desktop) {
    background-position: 50px top, calc(640px / 2) 0;

    // background-image: url('../images/hero/black-bg_lg.png');

    height: 660px;
    padding-top: 169px;
  }
}

.section.hero {
  background-color: #0e0e0e;
}

// TODO: styles for default markup
.hero-default {
  // * mobile screen
  background-image: linear-gradient(
      87.8deg,
      #0e0e0e 15.61%,
      rgba(14, 14, 14, 0) 60.39%
    ),
    url('../images/hero/bg_sm@1x.png');

  @media screen and (max-width: $pre-tablet) {
    // * mobile retina screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          87.8deg,
          #0e0e0e 15.61%,
          rgba(14, 14, 14, 0) 60.39%
        ),
        url('../images/hero/bg_sm@2x.png');
    }
  }

  // * tablet screen
  @media screen and (min-width: $tablet) {
    background-image: url('../images/hero/black-bg_md.png'),
      url('../images/hero/bg_md@1x.png');
    // background-image: url('../images/hero/bg_md@1x.png');

    // * tablet retina screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/black-bg_md@2x.png'),
        url('../images/hero/bg_md@2x.png');
      // background-image: url('../images/hero/bg_md@2x.png');
    }
  }

  // * desktop screen
  @media screen and (min-width: $desktop) {
    background-image: url('../images/hero/bg_lg@1x.png');

    // background-image: url('../images/hero/bg_lg@1x.png');

    // * desktop retina screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/black-bg_lg@2x.png'),
        url('../images/hero/bg_lg@2x.png');
      // background-image: url('../images/hero/bg_lg@2x.png');
    }
  }
}

.hero-title {
  margin-bottom: 8px;
  max-width: 199px;

  color: $white;
  font-weight: 700;
  font-size: 32px;
  line-height: calc(38 / 32);

  @media (min-width: $tablet) {
    max-width: 322px;

    font-size: 44px;
    line-height: calc(52 / 44);
  }

  @media (min-width: $desktop) {
    max-width: 464px;

    font-size: 64px;
    line-height: 75px;
  }
}

.hero-text.big-text {
  color: $secondary-text;

  @media (max-width: $pre-tablet) {
    display: none;
  }

  @media (min-width: $tablet) {
    margin-bottom: 32px;
    max-width: 357px;

    font-size: 14px;
    line-height: calc(16 / 14);
  }

  @media (min-width: $desktop) {
    max-width: 464px;

    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.hero-text.small-text {
  max-width: 166px;
  margin-bottom: 16px;

  font-size: 14px;
  line-height: calc(16 / 14);
  color: $secondary-text;

  @media (min-width: $tablet) {
    display: none;
  }
}

// TODO: styles if a movie comes from the backend
.hero_with-film {
  background-position-x: 300px;
}

.hero-film_title {
  margin-bottom: 13px;
  max-width: 199px;

  font-weight: 700;
  font-size: 32px;
  line-height: calc(38 / 32);
  color: $white;

  @media screen and (min-width: $tablet) {
    max-width: 332px;

    font-size: 44px;
    line-height: calc(52 / 44);
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 17px;
    max-width: 464px;

    font-size: 64px;
    line-height: calc(75 / 64);
  }
}

.hero-film_rating {
  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    margin-top: 30px;
  }
}

.hero-film_descr {
  margin-bottom: 16px;
  max-width: 177px;

  font-size: 14px;
  line-height: calc(16 / 14);
  color: $secondary-text;

  @media screen and (min-width: $tablet) {
    margin-bottom: 28px;
    max-width: 357px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 464px;

    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.hero-film_background {
  background-image: url('../images/hero/black-bg_lg.png');
  z-index: 1;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.hero-film_box {
  position: relative;
  z-index: 2;
  padding-left: 32px;
}
