// wekly-trends__section

.wekly-trends__section {
  padding-top: 40px;
  padding-bottom: 40px;

  position: relative;
}

.wekly-trends__title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 24px;


@media screen and (min-width: $tablet) {
        font-size: 24px;
        line-height: 28px;
      }
    
@media screen and (min-width: $desktop) {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 28px;
      }
}
.trends__btn {
  font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $orange;
    background-color: $background;
     
    position: absolute;
    top: 40;
    right: 0;


    @media screen and (min-width: $tablet) {
          font-size: 24px;
          line-height: 28px;
      }
    
    @media screen and (min-width: $desktop) {
        font-size: 28px;
          line-height: 33px;
      }
}

// movies-container

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.movies-container li {
  position: relative;
  // width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.movies-container li img {
  display: block;
  width: 100%;
  height: auto;
}

.movies-container li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.movies-container li:hover::before {
  opacity: 1;
}

.movies-container li .movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.movies-container li .movie-info h3 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.movies-container li .movie-info span {
  display: inline-block;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

.movies-container li .movie-info span:first-child {
  margin-left: 0;
}

.movies-container li .movie-info span:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
}

.movies-container li .movie-info .genre {
  font-weight: normal;
}

.movies-container li .movie-info .title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}

.movies-container li .movie-info .title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.movies-container li .movie-info .date {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}