// wekly-trends__section


.wekly-trends__section {
  padding-top: 40px;
  padding-bottom: 40px;

  position: relative;
}

.wekly-trends__title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 24px;


@media screen and (min-width: $tablet) {
        font-size: 24px;
        line-height: 28px;
      }
    
@media screen and (min-width: $desktop) {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 28px;
      }
}

.trends__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $orange;
  background-color: $background;
  position: absolute;
  top: 40;
  right: 0;


  @media screen and (min-width: $tablet) {
    font-size: 24px;
    line-height: 28px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 28px;
    line-height: 33px;
  }
}

// *=================================

#movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.weekly-item {
  width: 100%;
  margin-bottom: 2rem;
}

.weekly-img {
  min-width: 280px;
  height: auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
  border-radius: 5px;
}

@media (min-width: 768px) {
  #movies-container {
    justify-content: space-around;
  }

  .weekly-item {
    width: calc(33.33% - 16px);
    margin-bottom: 0;
  }

  .weekly-img {
    width: 395px;
    height: 574px;
  }
}

@media (max-width: 767px) {
  .weekly-img {
    width: 224px;
    height: 325px;
  }
}