// weekly-trends__section
.weekly-trends__section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 40px;

  @media screen and (min-width: $tablet) {
    padding-top: 52px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 80px;
  }

  .weekly-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 24px;

    @media screen and (min-width: $tablet) {
      font-size: 24px;
      line-height: 28px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 28px;
    }
  }

  .weekly-link-all {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    color: #f87719;

    @media screen and (min-width: $tablet) {
      font-size: 24px;
      line-height: 1.17;
    }

    @media screen and (min-width: $desktop) {
      font-size: 28px;
      line-height: 1.18;
    }
  }

  .weekly-item:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0px;
    }
  }

  .weekly-list {
    display: flex;
    gap: 16px;
    display: flex;
  }

  .weekly-item {
    position: relative;
    margin-bottom: 0px;
  }

  .weekly-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 12px;
    border-radius: 4px;
    background: linear-gradient(rgba(0, 0, 0, 0) 63.48%,
        rgba(0, 0, 0, 0.9) 92.16%);
    transition: background-color 0.3s ease-in-out;
    color: $white;
  }

  .weekly-img {
    display: block;
    object-fit: cover;
    border-radius: 5px;

    width: 280px;
    height: 406px;

    @media screen and (min-width: $tablet) {
      width: 224px;
      height: 325px;
    }

    @media screen and (min-width: $desktop) {
      width: 395px;
      height: 574px;
    }
  }

  .weekly-info {
    padding: 12px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $white;

    position: absolute;

    bottom: 0;
    left: 0;

    @media screen and (min-width: $tablet) {
      padding: 20px;
    }
  }

  .weekly-info__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    text-transform: uppercase;

    color: $white;

    @media screen and (min-width: $tablet) {
      line-height: 1.5;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 10px;

      font-size: 20px;
      line-height: 1.15;
    }
  }

  .weekly-info__genres__data {
    color: $grey;

    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  @media screen and (min-width: $tablet) {
    .weekly-info__genres__data {
      font-size: 12px;
      line-height: 18px;
    }
  }

  @media screen and (min-width: $desktop) {
    .weekly-info__genres__data {
      font-size: 20px;
      line-height: 23px;
    }
  }

  .catalog-list__additional-info {
    display: flex;
    justify-content: space-between;
    color: $white;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
  }

  .weekly-info__genres__data {
    color: $grey;
    font-weight: 400;
  }

  .weekly-rating {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;

    color: $grey;

    @media screen and (min-width: $tablet) {
      line-height: 1.5;
    }

    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 1.15;
    }
  }

  .weekly-info {
    padding: 12px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $white;
    position: absolute;
    bottom: 0;
    left: 0;

    @media screen and (min-width: $tablet) {
      padding: 20px;
    }
  }

  .weekly-info__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    text-transform: uppercase;
    color: $white;

    @media screen and (min-width: $tablet) {
      line-height: 1.5;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 1.15;
    }
  }

  .weekly-info__genres__data {
    color: $grey;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    @media screen and (min-width: $tablet) {
      font-size: 12px;
      line-height: 18px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  .catalog-list__additional-info {
    display: flex;
    justify-content: space-between;
    color: $grey;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
  }

  .weekly-rating {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: $grey;

    @media screen and (min-width: $tablet) {
      line-height: 1.5;
    }

    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 1.15;
    }
  }
}

// зірочки

.stars-container {
  width: 90px;
  position: relative;
  font-size: 12px;
}

.st-gray {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 12px;
  left: 0;
  filter: grayscale(100%);
}

.st {
  margin: 0;
  padding: 0;
  font-size: 12px;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.flex {
  display: flex;
}

