.light-theme span.menu-text {
  color: $grey-white-theme;
}

.light-theme div#mobile-menu {
  background-color: $white;
}
.light-theme a.mobile-header__link {
  color: $background;
}

.light-theme h2.hero-film_title {
  @media screen and (min-width: $tablet) {
    color: $background;
  }
}

.light-theme p.hero-film_descr {
  @media screen and (min-width: $tablet) {
    color: $secondary-black;
  }
}

.light-theme h2.weekly-title {
  color: $background;
}

.light-theme div.weekly-wrapper {
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);
}

.light-theme a.mobile-header__link.current {
  color: #f87719;
}

.light-theme h2.upcoming__title {
  color: $background;
}
.light-theme p.upcoming__movie-name {
  color: $background;
}
.light-theme p.upcoming__about-item {
  color: $background;
}
.light-theme p.upcoming__about-title {
  color: $background;
}

.light-theme span.vote__styling {
  color: $secondary-black;
  background-color: #f8f8f8;
}

.light-theme p.upcoming__about {
  color: $secondary-black;
}

.light-theme p.upcoming__popularity {
  color: $secondary-black;
}

.light-theme p.upcoming__genre {
  color: $secondary-black;
}

.light-theme p.hero-film_rating {
  color: $orange;
}

.light-theme div.movie__card-rating {
  color: $orange;
}
.light-theme h2.anyMovis__title {
  color: $background;
}

.light-theme .linear_btn:hover,
.linear_.btn:focus {
  color: $background;
}

.light-theme .modal-content {
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);
  border-radius: 16px;
  background: $white;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
}

.light-theme .modal-list a {
  color: $background;
  text-decoration: none;
  font-size: 16px;
}

.light-theme .modal-list a:hover {
  color: $grey;
}

.light-theme .team-position {
  color: $grey-white-theme;
}

.light-theme .pop-gen-list-value:last-child {
  color: $secondary-black;
}
