.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

#toggle {
  padding: 2px 2px 0px;
}

/* body.open-modal {
  overflow-y: hidden;
} */

.btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  padding: 12px 24px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  cursor: pointer;
  border-width: 0;
  margin-bottom: 20px;
  transition: border 750ms linear(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  // border-width: 1px;
  // border-style:  solid;
  // border-radius: 74px;
  // border-image: linear-gradient(45deg, #FFC226, #F84119) 1;
  color: $white;
  background: transparent;
  border-top: 1px solid #ffc226;
  border-left: 1px solid #ffc226;
  border-right: 1px solid $orange;
  border-bottom: 1px solid $orange;
}

// --PopUp modal--
.pop-up-modal {
  transition: 250ms;
  transition-delay: 250ms;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  box-sizing: border-box;
  width: 280px;
  max-height: 90%;
  text-align: left;
  padding: 52px 16px;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;
  background: $background;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: none;
  display: block;
  z-index: 999;
  @media screen and (max-width: $pre-tablet) {
    overflow-y: auto;
  }

  @media screen and (min-width: $tablet) {
    width: 704px;
    min-height: 488px;
    padding: 44px;
  }

  @media screen and (min-width: $desktop) {
    width: 846px;
    min-height: 598px;
    padding: 60px;
    border-radius: 20px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 16px;
    margin: 0;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    @media screen and (min-width: $tablet) {
      top: 24px;
      right: 24px;
    }

    @media screen and (min-width: $desktop) {
      top: 40px;
      right: 40px;
    }
  }

  &__close-icon {
    fill: $white;
  }

  &__close-icon:hover,
  &__close-icon:focus {
    fill: $orange;
  }

  &__container {
    padding: 0;
    box-sizing: border-box;
    width: 248px;

    @media screen and (min-width: $tablet) {
      width: 616px;
      height: 400px;
      display: flex;
    }

    @media screen and (min-width: $desktop) {
      width: 726px;
      height: 478px;
      display: flex;
    }
  }

  &__img {
    width: 248px;
    height: 315px;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      width: 294px;
      height: 400px;
      margin: 0 16px 0 0;
    }

    @media screen and (min-width: $desktop) {
      width: 375px;
      height: 478px;
      margin: 0 20px 0 0;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 29px;

    @media screen and (min-width: $tablet) {
      font-size: 24px;
      margin-bottom: 26px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 28px;
    }
  }

  &__blok {
    display: flex;
    color: $secondary-text;
    justify-content: space-between;
  }

  &__list {
    width: 120px;
  }

  &__link,
  &__link-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    // color: $secondary-text;
    // color: $background;
    margin-bottom: 12px;

    @media screen and (min-width: $desktop) {
      font-size: 16px;
      margin-bottom: 14px;
    }
  }

  &__about {
    display: block;
    // min-height: 180px;
    margin-bottom: 16px;

    @media screen and (min-width: $tablet) {
      // min-height: 170px;
      margin-top: 4px;
      margin-bottom: 24px;
    }

    @media screen and (min-width: $desktop) {
      // min-height: 220px;
      margin-top: 4px;
      scroll-snap-type: auto;
    }
  }

  &__about-txt {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.66;
    color: $secondary-text;
    // color: $background;

    @media screen and (min-width: $desktop) {
      font-size: 14px;
    }
  }
}

.item-votes {
  display: flex;
}

.vote,
.votes {
  background-color: $white;
  color: $background;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
}

#mylibrary {
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  // display: none;
  display: block;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 500;
}

.visual {
  // display: block;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.body.open-modal > .modal-window,
.body.open-modal > .overlay {
  display: block;
}

.light_color {
  background-color: $white;
  color: $background;
}
.light_color:hover,
.light_color:focus {
  color: $background;
}

.light_fill {
  fill: $background;
}
.light_shadow {
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);
}

// .add_mylibrary {
//   border-top: 1px solid #FFC226;
//   border-left: 1px solid #FFC226;
//   border-right: 1px solid $orange;
//   border-bottom: 1px solid $orange;
// }
